<div class="container-all">
    <mat-card class="container-card">
        <div class="container">
            <mat-form-field class="container-form-field" appearance="outline">
                <input class="texto-arquivo" placeholder="Arquivo" type="text" [value]="nomeArquivo" disabled
                    matInput />
                <input type="file" hidden (change)="uploadArquivo($event)" readonly #fileInput />

                <input type="text" matInput />
            </mat-form-field>
            <div class="btns-container">
                <button mat-raised-button class="rounded" color="primary" (click)="fileInput.click()">
                    <span class="btn-content">
                        <mat-icon>upload</mat-icon>
                        Selecionar Áudio
                      </span>
                </button>

                <button mat-raised-button class="rounded" color="primary" (click)="transcreverArquivo()">
                    <span class="btn-content">
                        <mat-icon>arrow_forward</mat-icon>
                        Transcrever
                    </span>
                </button>
            </div>
        </div>
    </mat-card>
</div>